In [6]:
import os
import pandas as pd

In [50]:
DATA_PATH = os.path.join(os.getcwd(), 'data\\')
METEO_TYPES = {'temperature':'float64','relative_humidity':'float64',
               'precipitation_rate':'float64','wind_speed':'float64',
               'zipcode':'str'}
SALES_TYPES={'LEAD_ID': str,'FINANCING_TYPE': str,'CURRENT_PHASE': str,'PHASE_PRE_KO': str,
            'IS_MODIFIED': 'int8','ZIPCODE': str,'VISITING_COMPANY': str,'KO_REASON': str,
            'INSTALLATION_PEAK_POWER_KW': float,'INSTALLATION_PRICE': float,'N_PANELS': int,
            'CUSOMER_TYPE': str}
SALES_DATES=['OFFER_SENT_DATE','CONTRACT_1_DISPATCH_DATE','CONTRACT_2_DISPATCH_DATE',
        'CONTRACT_1_SIGNATURE_DATE','CONTRACT_2_SIGNATURE_DATE','VISIT_DATE',
        'TECHNICAL_REVIEW_DATE','PROJECT_VALIDATION_DATE','SALE_DISMISSAL_DATE',
        'KO_DATE']
ZIPCODE_TYPES = {'ZIPCODE':'str','ZC_LATITUDE':'float64',
                 'ZC_LONGITUDE':'float64','AUTONOMOUS_COMMUNITY':'str',
                 'AUTONOMOUS_COMMUNITY_NK':'str','PROVINCE':'str'}

In [29]:
df_meteo = pd.read_csv(DATA_PATH+'meteo_eae.csv', delimiter=';',dtype=METEO_TYPES, parse_dates=['date'])

In [44]:
df_sales = pd.read_csv(DATA_PATH+'sale_phases_funnel.csv', delimiter=';', dtype=SALES_TYPES, parse_dates=SALES_DATES, dayfirst=True)
df_sales['ZIPCODE'] = df_sales['ZIPCODE'].astype(str).str.zfill(5)

In [48]:
df_zipcode = pd.read_csv(DATA_PATH+'zipcode_eae_v2.csv', dtype=ZIPCODE_TYPES)

In [49]:
df_zipcode.head()

,ZIPCODE,ZC_LATITUDE,ZC_LONGITUDE,AUTONOMOUS_COMMUNITY,AUTONOMOUS_COMMUNITY_NK,PROVINCE
0,01001,42.8500,-2.6667,Pais Vasco,PV,Álava
1,07119,39.6833,2.7000,Baleares,IB,Illes Balears
2,07110,39.6833,2.7000,Baleares,IB,Illes Balears
3,07109,39.7833,2.7333,Baleares,IB,Illes Balears
4,07108,39.8000,2.6833,Baleares,IB,Illes Balears

In [1]:
dfuibhdihie

NameError: name 'dfuibhdihie' is not defined